*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-size: 10px;
    background-color: #333;
    margin: 0 20px;
    font-family: 'Roboto', sans-serif;
}
h2{
    color:rgba(102, 204, 102, 0.651);
    margin-bottom: 10px;
    font-size: 1.4em;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    position: relative;
    width: 900px;
    /* min-width: 680px; */
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
}
.headline{
    position: absolute;
    top: 15%;
    max-width: 810px;
    width: 100%;
    height: 20%;
    background-color: rgb(102, 204, 102);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.headline-text{
    color: white;
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
h1{
    font-size: 1.9em;
    margin-right: 20px;
}
.column{
    display: flex;
    align-items: center;
    height: 400px;
    padding: 20px;
}
img{
    width: 200px;
    height: 200px;
}
.img{
    position: relative;
    top: -80px;
}

.text{
    color: #555;
    font-size: 1.5em;  
    max-width: 500px;
    padding-top: 85px;
}
.img .username{
    
    color: black;
    text-align: center;
    font-size: 1.8em;
}
a{
    min-width: 120px;
    color: #777;
    font-size: 1.5em;
    text-decoration: none;
}
.icons{
    text-align: center;
}
i{
    color: #555;
    padding: 5px;
    font-size: 2em;
    transition: color 0.4s;
}
p{
    font-size: 1.3em;
}
i:hover{
    color:rgba(102, 204, 102, 0.651);
}
@media (max-width: 850px){
    .card{
        height: 90vh;
    }
    .column{
        flex-direction: column;
    }
    .img{
        top: 150px;
        margin-bottom: 100px;
    }
    .headline{
        height: 10%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
   h2{
       text-align: center;
   }
   a{
       min-width: 80px;
   }
   h1{
       min-width: 220px;
   }

}
@media (max-width: 420px){
    .wrapper{
        height: 120vh;
    }
    .card{
        height: 110vh;
    }
    .img{
        top: 40px;
    }
    img{
        width: 200px;
        height: 200px;
    }
    .headline{
        top: 10%;
        height: 15%;
    }
    .headline-text{
        justify-content: center;
        flex-wrap: wrap;
    }
    .img{
        top: 180px;
    }

    a{
        padding-top: 10px;
    }
}
